/* 全体のスタイル */
html,
body {
    display: flex; /* 要素をフレックスボックスとして配置 */
    justify-content: center; /* 中央揃え */
    align-items: center; /* 中央揃え */
    height: 100%; /* 高さを100%に設定 */
    margin: 0; /* マージンを0に設定 */
}

/* クラスAのスタイル */
div.A {
    display: flex; /* 要素をフレックスボックスとして配置 */
    justify-content: center; /* 中央揃え */
    align-items: center; /* 中央揃え */
    background-color: white; /* 背景色を白に設定 */
    /*height: 50vh;*/
     /* 高さをビューポートの50%に設定 */
}

/* クラスBのスタイル */
div.B {
    background-color: beige; /* 背景色をベージュに設定 */
    font-size: 30px; /* フォントサイズを30pxに設定 */
    font-family: Arial, Helvetica, sans-serif; /* フォントファミリーを指定 */
    text-align: center; /* テキストを中央揃え */
    width: 325px; /* 幅を指定 */
    padding: 20px; /* パディングを指定 */
}

/* CITクラスのスタイル */
p.CIT {
    font-size: 40px; /* フォントサイズを40pxに設定 */
    color: rgb(70, 70, 200); /* テキストの色を指定 */
}

/* ログイン、日付、GOのスタイル */
p.login,
p.date,
p.go {
    height: 15vh; /* 高さをビューポートの15%に設定 */
    color: rgb(60, 60, 210); /* テキストの色を指定 */
}

/* サインアップのスタイル */
p.signup {
    font-size: 30px; /* フォントサイズを30pxに設定 */
    color: rgb(81, 112, 197); /* テキストの色を指定 */
}

/* こちらのスタイル */
p.kotira {
    font-size: 17px; /* フォントサイズを17pxに設定 */
}

/* ボタンのスタイル */
.btn--a,
a.btn--a,
.btn--blue,
a.btn--blue {
    color: white; /* テキストの色を白に設定 */
    background-color: rgb(90, 90, 213); /* 背景色を指定 */
    padding: 20px 40px; /* パディングを指定 */
}

.btn--a:hover,
a.btn--a:hover,
.btn--blue:hover,
a.btn--blue:hover {
    color: brown; /* マウスホバー時のテキスト色を指定 */
    background: #f56500; /* マウスホバー時の背景色を指定 */
}

a.btn--radius {
    border-radius: 200vh; /* ボーダーの半径を指定 */
}

/* ナビゲーションリンクのスタイル */
p.link-container {
    text-decoration: none; /* 下線をなくす */
    color: blue; /* テキストの色を指定 */
    font-size: 20px; /* フォントサイズを20pxに設定 */
}

.link-container {
    display: inline-block; /* インラインブロックとして表示 */
    margin: 10px; /* マージンを指定 */
    padding: 10px; /* パディングを指定 */
    border: 2px solid blue; /* ボーダーの色と太さを指定 */
    border-radius: 5px; /* 角丸を指定 */
    background-color: blue; /* 背景色を指定 */
}

/* 楕円のスタイル */
.ellipse {
    display: flex; /* 要素をフレックスボックスとして配置 */
    font-size: 100px; /* フォントサイズを100pxに設定 */
    justify-content: center; /* 中央揃え */
    align-items: center; /* 中央揃え */
    width: 200px; /* 幅を指定 */
    height: 75px; /* 高さを指定 */
    background-color: lightblue; /* 背景色を指定 */
    border-radius: 50%; /* 角丸を指定して楕円形に */
    transform: translateX(63px); /* X軸方向に63px移動 */
}

/* 戻るリンクのスタイル */
.back-link {
    padding: 8px 15px; /* パディングを指定 */
    font-size: 15px; /* フォントサイズを15pxに設定 */
    background-color:none; /* 背景色を透明に設定 */
    color: rgb(0, 0, 0); /* テキストの色を指定 */
    text-decoration: none; /* 下線をなくす */
    border: none; /* ボーダーをなくす */
    border-radius: 5px; /* 角丸を指定 */
    display: inline-block; /* インラインブロックとして表示 */
    text-align: center; /* テキストを中央揃え */
}

/* 横スクロールのスタイル */
div.scrol {
    overflow: auto; /* スクロールバーを表示 */
    width: 300px; /* 幅を指定 */
}
