font{
    font-size: 20px;
    color:black
}

body{
    background-color: #ffccff;
}

div{ display:":absolute;top:200px;left:300px";
}
        

.image{src: url(S__53436421_0.jpg);
        width:"200px"
        height="auto";
}
        
     

div{ display:"absolute;top:500px;left:300px";
}
      
       img{ src:"S__53436418.jpg";
            width:"160px"
            height="auto";
       }
  
