font{
    font-size: 20px;
    color:black
}

body{
    background-color: #ffccff;
}


        


p.sample img{ src:"S__53436421_0.jpg";
    position:center;
  
        width: 1000px;
        height: 700px;
   }

      
       
       p.sample img{ src:"S__53436418.jpg";
        position:center;
      
            width: 1000px;
            height: 700px;
       }
