body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.A {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
}

.B {
    background-color: beige;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 325px;
    padding: 20px;
    border-radius: 10px; /* 枠線の角丸 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影の設定 */
}

.CIT {
    font-size: 40px;
    color: rgb(70, 70, 200);
}

.signup {
    font-size: 30px;
    color: rgb(81, 112, 197);
    margin-top: 10px;
}



.a {
    font-size: 12px;
    margin-top: 20px;
}

.submit-button {
    display: inline-block;
    width: 200px;
    height: 75px;
    line-height: 75px; /* テキストの垂直方向の中央揃え */
    text-align: center; /* テキストの水平方向の中央揃え */
    background-color:  rgb(70, 70, 200); /* ボタンの背景色を青に設定 */
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 50px; /* 角丸の設定 */
    cursor: pointer;
    margin-top: 20px; /* ボタンと上の要素との間隔 */
}

.submit-button:hover {
    background-color: rgb(10, 10, 183); /* ホバー時の背景色 */
}