p.CIT {
    font-size: 40px;
    color: rgb(70, 70, 200);
}

p.logina {
    height: 15vh;
    color:rgb(60, 60, 210)
}

p.a {
    font-size: 12px;
}

p.signup {
    font-size: 30px;
    color: rgb(81, 112, 197);
}

p.s{
    font-size: 17px;
    color: black;
}

p.login{
    font-size: 17px;
    color: blue;
}

div.B {
    background-color: beige;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 325px;
    padding: 20px;
}

div.A {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}


nav a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}

.link-container {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 2px solid blue; /*ボーダーの色と太さを指定*/
    border-radius: 5px; /*角丸にするための設定*/
    background-color: blue;
}