p.CIT {
    font-size: 40px;
    color: rgb(70, 70, 200);
}

p.logina {
    height: 15vh;
    color:rgb(60, 60, 210)
}

p.a {
    font-size: 12px;
}

p.signup {
    font-size: 30px;
    color: rgb(81, 112, 197);
}

p.s{
    font-size: 17px;
    color: black;
}

p.login{
    font-size: 17px;
    color: blue;
}

div.B {
    background-color: beige;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 325px;
    padding: 20px;
}

div.A {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}


.submit-button {
    display: inline-block;
    width: 200px;
    height: 75px;
    line-height: 75px; /* テキストの垂直方向の中央揃え */
    text-align: center; /* テキストの水平方向の中央揃え */
    background-color: blue; /* ボタンの背景色を青に設定 */
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 50px; /* 角丸の設定 */
    cursor: pointer;
    margin-top: 20px; /* ボタンと上の要素との間隔 */
}

.submit-button:hover {
    background-color: darkblue; /* ホバー時の背景色 */
}