font{
    font-size: 20px;
    color:black
}

body{
    background-color: #ffccff;
}


        
  

        p.sample img{ src:"S__53608626.jpg";
            position:center;
          
                width: 1000px;
                height: 700px;
           }
     


       p.sample img{ src:"S__53436433.jpg";
        position:center;
      
            width: 1000px;
            height: 700px;
       }