font{
    font-size: 20px;
    color:black
}

body{
    background-color: #ffccff;
}

div{ position:":absolute;top:200px;left:300px";
}
        
  
img{ src:"S__53608626.jpg";
        width:"160px"; 
        height:auto;
        }

     

div{ position:"absolute;top:500px;left:300px";
}
      
       img{ src:"S__53436433.jpg";
            width:"160px";
            height:auto;
       }
