font{
    font-size: 20px;
    color:black
}

body{
    background-color: #ffccff;
}

div{ position:":absolute;top:200px;left:300px";
}
        

        img{ src:"S__53608626.jpg";
        width:"160px" height="100px"border"=4px" alt="バラ園の写真";
        }
     

div{ position:"absolute;top:500px;left:300px";
}
      
       img{ src:"S__53436433.jpg";
            width:"160px"height="100px"border="4px"alt="香澄公園の写真";
       }
  
