/*test.css*/
/*bodyはすべてのページに参照している*/

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
    background: url(https://www.ryonetsu.co.jp/files/download/WorkImageBlocks/22428a5a-1ae1-4fdb-b541-de98dfbf3024/value01/value05)center center/cover no-repeat;
}

/*div.centerもすべてのページに参照している*/
div.center{
    background-color: beige;
    width: 400px;
    text-align: center;
    height: 100vh;
}

/*CIT Sportsのスタイル*/
h1{
    color: rgb(70, 70, 200);
}

/*ページタイトル（CIT Sportsの下に表示されるもの）のスタイル*/
h2{
    color: skyblue;
}

div.confirmation{
    font-size: 30px;
}

/*ボタン（ログインや書き直す等）のスタイル*/
input.button{
    width: 50%;
    background-color: snow;
    border-radius: 20px;
    text-align: center;
}

/*ボタンの上にカーソルを乗せたときの挙動*/
.button:hover{
    background-color: #A3DCDC;
}

div.title{
    font-size: 30px;
    color: skyblue;;
}

/*予約表（予約テーブル）のスタイル・・・使ってるのは05table.phpだけかな*/
div.hyou{
    text-align: left;
    height:55%;
    overflow: auto;
    border: 1px solid #000;
    margin: 2%;
    position: relative;
}

thead th{
    position: sticky;
    top: 0;
    z-index: 4;
    border: 1px solid #000;
}

tbody th{
    position: sticky;
    left: 0;
    z-index: 1;
    border: 1px solid #000;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

th{
    border: 1px solid #000;
    background-color: #f2f2f2;
    border: 1px solid black;
    position: relative;
}

td{
    border: 1px solid #000;
    background-color: white;
    position: relative;
}
/*ここまで予約表のスタイル*/

/*※（米印）のスタイル・・・使ってるのは07reserved.phpだけかな*/
div.screen{
    text-align: left;
    color: red;
    margin: 0% 15%;
}

/* スマホ表示用のスタイル */
/*スマホ用もできれば変更したい*/
@media screen and (max-width: 1000px) {
    body {
        justify-content: flex-start;
    }

    div.center {
        width: 100%;
        height: 100vh;
        padding: 20px;
        box-sizing: border-box;
    }

    h1, h2, div{
        font-size: 2em;
    }
    div.com{
        font-size: 1.5em;
    }
    h4{
        font-size: 2em;
    }

    input{
        font-size: 2em;
    }

    input.button{
        background-color: snow;
        color: black;
        font-size: 1.5em;
    }
    div.hyou{
        height: 50%;
    }
}