body{background-color:#FFCCFF;}
.hex{color:#fdfafa}
h1 {text-align:center;}
h2 {text-align:center;}
h2 {font-size:250%;}
h3{font-size: small;}
div{
text-align:center;
    font-size:250%;
}

body{
    background-image: url("S__5873666.jpg");
}
